<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.umb"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="13"
        android:targetSdkVersion="21" />
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    
    <application
        android:allowBackup="true"
        android:icon="@drawable/icono_canvas"
        android:label=""
        android:theme="@style/temaPersonalizado" >
        <activity
            android:name=".InicialCanvasActivity"
            android:label="@string/title_activity_inicial_canvas" >
        </activity>
        <activity android:name=".MainActivity" >
        </activity>
        <activity
            android:name=".SplashScreenActivity"
            android:label="@string/title_activity_splash_screen"
            android:theme="@style/temaSplash" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".CanvasActivity"
            android:label="@string/title_activity_canvas" >
        </activity>
        <activity
            android:name=".SinComponenteActivity"
            android:label="@string/title_activity_sin_detalle" >
        </activity>
        <activity
            android:name=".ListaComponentesActivity"
            android:label="@string/title_activity_detalle" >
        </activity>
        <activity
            android:name=".NuevoComponenteActivity"
            android:label="@string/title_activity_crear_detalle" >
        </activity>
        <activity
            android:name=".EditarComponenteActivity"
            android:label="@string/title_activity_editar_componente" >
        </activity>
        <activity
            android:name=".ListaCanvasActivity"
            android:label="@string/title_activity_lista_canvas" >
        </activity>
        <activity
            android:name=".EditarCanvasActivity"
            android:label="@string/title_activity_editar_canvas" >
        </activity>
    </application>

</manifest>